
* {padding: 0; margin: 0;}

body {
  font-family: 'Avenir Next', sans-serif;
  max-width: 1000px;
  margin: 0 auto; padding: 0 20px;
}

p, footer,ul {
  margin: 30px 0;
}

ul {
  margin-left: 30px;
}

h1, h2 {
  margin: 40px 0;
  font-weight: 100;
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

textarea, .code-view {
  box-sizing: border-box;
  width: 100%;
  height: 343px;
  font-family: monospace;
  font-size: 14px;
  padding: 3px;
  display: block;
}

.code-view {
  border: 1px #ddd solid;
  white-space: pre-wrap;
  overflow-y: auto;
}

textarea.small, .code-view--small {
  height: 140px;
}

.code-view__current {
  background: #ddd;
}

.code-view__comment {
  color: #999;
}

.box {
  width: 50%;
  float: left;
}

.box__inner {
  margin: 0 20px  20px 0;
}

.memory {
  font-family: monospace;
  border: 1px #ddd solid;
}

.memory__cell {
  width: 33px;
  float: left;
  padding: 3px;
  text-align: right;
}

.memory__cell--active {
  background: #ddd;
}

.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px #999 solid;
  background: #aaa;
  border-radius: 3px;
  padding: 2px 7px;
  margin: 0 7px 4px 0;
}

.button.button--active {
  background: #999;
  box-shadow: inset 0 0 10px #666;
}

.select-button .button:not(:last-child) {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select-button .button:not(:first-child) {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  border-top: 1px #000 solid;
  padding-top: 40px;
  opacity: 0.3;
}
